.Logado{
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #fff;
    font-size: .85rem;
    background: #fff;
    border-radius: var(--radius);
    box-sizing: border-box;
    padding: .5rem 1rem;
    color: var(--primaria);
    box-shadow: 0 0 10px -10px rgb(0 0 0 / 20%);
}

.Logado img{
    height: 2.2rem;
    border-radius: 50%;
    margin-right: .5rem;
    box-shadow: 0 0 10px -2px rgba(var(--preto), .3);
}

.boxLogin{
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    background: rgba(var(--preto), .8);
    position: fixed;
    z-index: 10;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: .5rem;
    color: #fff;
}

.BoxAvatar{
    display: flex;
    align-items: center;
    gap: 1.7rem;
}

.BoxAvatar svg{
    height: 1.3rem;
    width: 1.3rem;
    transition: var(--transition);
}

.BoxAvatar svg:hover{
    stroke: rgba(var(--primaria, .1));
}