.footer{
    width: 100%;
    height: 2.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(var(--primaria), 1);
    bottom: 0px;
    position: sticky;
    border-radius: var(--radius);
}

.footer p a{
    display: flex;
    color: rgba(var(--branco), 1);
    font-size: .7rem;
    align-items: center;
    gap: 0.3rem;
}

.footer svg{
    width: 1.5rem;
    height: 1.5rem;
}

.footer a{
    color: #fff;
}